$lightGreen: #e7ffb2;
$normalGreen: #c5ff45;
$deepGreen: #13ce66;

#puppeteer-sunsilent-box {
  font-size: 12px;
  color: #000;
  .container {
    .ant-float-btn-group {
      z-index: 2147483647;
    }
  }
  .rect-box {
    position: fixed;
    z-index: 2147483646;
    user-select: none;
    background-image: linear-gradient(
      to top,
      #fad0c4 0%,
      #ffd1ff 100%
    ) !important;
    opacity: 0.3;
    pointer-events: none;
    &.pointervisible {
      pointer-events: auto;
    }
  }
  .popup-box {
    position: fixed;
    z-index: 2147483645;
    user-select: none;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    padding: 5px 2px;
    border-radius: 5px;
    box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.04),
      0px 8px 20px rgba(0, 0, 0, 0.08);
    .pop-item {
      padding: 5px 10px;
      &:hover {
        background-color: $lightGreen;
      }
    }
  }
}
:host {
  .ant-modal {
    .ant-modal-header {
      margin-bottom: 0px;
    }
    .ant-modal-content {
      overflow-x: hidden;
      .ant-modal-close {
        width: 32px;
        height: 32px;
      }
    }
  }
}
