$lightGreen: #e7ffb2;
$normalGreen: #c5ff45;
$deepGreen: #13ce66;

#puppeteer-sunsilent-box {
  font-size: 12px;
  color: #000;
  .container {
    user-select: none;
    position: fixed;
    z-index: 2147483647;
    top: 0px;
    left: 0px;
    border-radius: 5px;
    box-shadow: 0 12px 32px 4px #0000000a, 0 8px 20px #00000014;
    .header {
      .check-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-width: 100px;
        height: 20px;
        background-color: #fff;
      }
    }
    .body {
      display: flex;
      background-color: #fff;
      .body-tools {
        color: #000;
        background-color: #fff;
        padding: 5px;
        width: 90px;
        flex-shrink: 0;
        .tool {
          text-align: center;
          padding: 5px 0px;
          flex-shrink: 0;
          margin-bottom: 5px;
          &.active {
            background-color: $normalGreen !important;
            border-radius: 10px;
          }
          &:hover {
            background-color: $lightGreen;
            border-radius: 10px;
            &.danger {
              color: #ff0000;
              background-color: transparent;
              border-radius: 25px;
            }
          }
        }
        .divider {
          width: 100%;
          margin: 5px 0px;
          height: 1px;
          background-color: #e0e0e0;
        }
        .finish {
          color: #000;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .body-list {
        width: 470px;
        overflow-y: auto;
        height: 100%;
        max-height: 800px;
        flex-grow: 1;
        background-color: #fff;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        padding: 5px;
        box-sizing: border-box;
        color: #000;
        &-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 200px;
          padding: 0px 10px;
          height: 34px;
          &:hover {
            background-color: $lightGreen;
            border-radius: 10px;
          }
          .left {
            display: flex;
            align-items: center;
            span.index {
              margin-right: 2px;
            }
          }
          .center {
            color: dodgerblue;
            cursor: pointer;
          }
          .right {
            font-size: 18px;
            transform: scale(0.8, 0.6);
            cursor: pointer;
            &:hover {
              color: #f00;
            }
          }
        }
        &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
          border-radius: 5px;
          background-color: #f5f5f5;
        }
        &::-webkit-scrollbar {
          width: 10px;
          height: 10px;
          background-color: #f5f5f5;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 8px;
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
          background-color: #e0e0e0;
        }
      }
    }
  }
  .rect-box {
    position: fixed;
    z-index: 2147483646;
    user-select: none;
    background-image: linear-gradient(
      to top,
      #fad0c4 0%,
      #ffd1ff 100%
    ) !important;
    opacity: 0.3;
    pointer-events: none;
    &.pointervisible {
      pointer-events: auto;
    }
  }
  .popup-box {
    position: fixed;
    z-index: 2147483645;
    user-select: none;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    padding: 5px 2px;
    border-radius: 5px;
    box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.04),
      0px 8px 20px rgba(0, 0, 0, 0.08);
    .pop-item {
      padding: 5px 10px;
      &:hover {
        background-color: $lightGreen;
      }
    }
  }
  .edit-model {
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2147483647;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .edit-box {
      margin-bottom: 100px;
      padding: 15px;
      width: 300px;
      height: 300px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 12px 32px 4px #0000000a, 0 8px 20px #00000014;
      .header {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
      }
      .body {
        height: 200px;
        .simple {
          margin-top: 20px;
          font-size: 14px;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          span.label {
            display: inline-block;
            text-align: right;
            width: 100px;
          }
          .type {
            font-size: 12px;
            color: #3a9bff;
            cursor: pointer;
            text-align: right;
          }
        }
        .detail {
          height: 100%;
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          text-align: center;
          .type {
            font-size: 12px;
            color: #3a9bff;
            cursor: pointer;
            text-align: right;
          }
        }
      }
      .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        margin-top: 10px;
        color: #fff;
        .submit {
          border-radius: 25px;
          cursor: pointer;
          border: 1px solid #e0e0e0;
          background-color: #3a9bff;
          padding: 6px 25px;
          &:hover {
            background-color: #3a9bffd4;
          }
          &:active {
            background-color: #1587fd;
          }
        }
        .cancel {
          border-radius: 25px;
          border: 1px solid #e0e0e0;
          margin-left: 20px;
          cursor: pointer;
          color: #333;
          background-color: #fff;
          padding: 6px 25px;
          &:hover {
            background-color: #f9f9f9;
          }
          &:active {
            background-color: #ebebeb;
          }
        }
      }
    }
  }

  .radio {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    .open-close {
      padding: 2px;
      width: 35px;
      background-color: $deepGreen;
      height: 17px;
      border-radius: 50px;
      &-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        height: 17px;
        width: 17px;
        background-color: #fff;
        font-weight: bold;
        color: $deepGreen;
        transition: all 0.5s;
        .arrow {
          border: 5px solid $deepGreen;
          border-bottom-color: transparent;
          border-top-color: transparent;
        }
        &.left {
          margin-left: 0px;
          .arrow {
            border-right-color: $deepGreen;
            border-left-color: transparent;
            margin-right: 6px;
          }
        }
        &.right {
          margin-left: 17px;
          .arrow {
            border-right-color: transparent;
            border-left-color: $deepGreen;
            margin-left: 6px;
          }
        }
      }
    }
    & > span {
      line-height: 19px;
      &.active {
        color: #ff0000;
        font-weight: bold;
      }
    }
  }
  input {
    display: inline-block;
    height: 25px;
    width: 150px;
    outline-color: $deepGreen;
    padding: 4px 6px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s,
      -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }
  textarea {
    display: inline-block;
    height: 18px;
    width: 150px;
    outline-color: $deepGreen;
    padding: 4px 6px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s,
      -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }
}
